.benfitsCareers {
    display: flex;
    width: 1280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin-top: 100px;
    overflow: hidden;
}

.benfitsCareers .benfits_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

}

.benfitsCareers .benfits_content .title {
    color: var(--White, #FFF);
    font-family: Lexend;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 57px */
}

.benfits_content .title span {
    color: var(--color-60, #CAFF33);
}

.benfits_content .description {
    color: var(--color-70-2, #B3B3B3);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 24px */
}

.benfitsCareers .allBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

.benfitsCareers .allBox .boxs {
    display: flex;
    align-items: center;
    gap: 60px;
}

.benfitsCareers .boxs .box {
display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: self-start;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 14px 40px;
        border: 1px solid rgba(202, 255, 51, 0.10);
    background: linear-gradient(106deg, rgb(202 255 51 / 27%) -29.45%, rgb(202 255 51 / 0%) 27.86%), linear-gradient(267deg, #1C1C1C 40.67%, rgb(28 28 28 / 0%) 99.81%);
        background-blend-mode: normal, normal, screen;
}

.benfitsCareers .box .title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.benfitsCareers .box .title h4{
flex: 1 0 0;
    color: var(--White, #FFF);
        font-family: Lexend;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 30px */
}
.benfitsCareers .box .title .icon {
    display: flex;
        padding: 16px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 50px;
            border: 1px solid #CAFF33;
            background: linear-gradient(180deg, rgba(202, 255, 51, 0.10) -66.22%, rgba(202, 255, 51, 0.00) 85.46%);
}
.benfitsCareers .box .icon svg{
width: 28px;
    height: 28px;
}
.benfitsCareers .box .description {
    color: var(--color-70-2, #B3B3B3);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 24px */
}

@media (max-width:996px) {
    .benfitsCareers .benfits_content {
        align-items: center;
    }

    .benfits_content .title {
        text-align: center;
    }

    .benfits_content .description {
        text-align: center;
    }

    .benfitsCareers .allBox .boxs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
    }

    .benfitsCareers .boxs .box {
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        align-self: stretch;
    }

        .benfitsCareers .box .icon svg{
        width: 22px;
            height: 22px;
    }

}