.landingCareers {
    display: flex;
    width: 1279px;
    padding: 40px;
    align-items: flex-start;
    gap: -174px;
}

.landingCareers .landingCareers__content {
    position: relative;
    display: flex;
    width: 600px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 20px 0px 60px 20px;
    background: var(--grey-10, #1A1A1A);
    margin-left: auto;
    z-index: 3;
}

.landingCareers__content .tilte {
    color: var(--White, #FFF);
    font-family: Lexend;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.landingCareers__content .span {
    color: var(--color-60, #CAFF33) !important;
}

.landingCareers .landingCareers__content .description {
    color: var(--grey-70, #B3B3B3);
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 27px */
}

.landingCareers .landingCareers__img {
    background-image: url("../images/Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: left;
    background-origin: 25%;
    padding: 55px;
    height: 410px;
    flex: 2 0;
    border-radius: 16px;
    background-blend-mode: overlay, normal, normal;
    margin-left: -140px;
}
.landingCareers__img .vector2{
        width: 334px;
        height: 317px;
        top: 0;
        right: 0;
        top: 10px;
            right: -8px;
        transform:rotate(90deg) ;
        -webkit-transform:rotate(90deg) ;
        -moz-transform:rotate(90deg) ;
        -ms-transform:rotate(90deg) ;
        -o-transform:rotate(90deg) ;
}

@media screen and (max-width: 996px) {
    .landingCareers {
        flex-direction: column-reverse;
    }

    .landingCareers .landingCareers__content {
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        width: auto;
        align-self: stretch;
    }

    .landingCareers .landingCareers__content .tilte {
        font-size: 28px;
        text-align: center;
    }

    .landingCareers .landingCareers__content .description {
        font-size: 14px;
        text-align: center;
    }

    .landingCareers .landingCareers__img {
        background-image: url("../images/Image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;
        background-position: left;
        background-origin: 25%;
        padding: 100px;
        margin: auto;
        width: 320px;
        flex: 2 0;
        border-radius: 16px;
        background-blend-mode: overlay, normal, normal;

    }
}