.todayHome {
    display: flex;
    width: 1280px;
    padding: 60px;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
    border-radius: 20px;
    border: 1px solid #262626;
    background: linear-gradient(267deg, #1C1C1C 40.67%, rgba(28, 28, 28, 0.00) 99.81%), url(""), lightgray 0% 0% / 62.46418356895447px 62.46418356895447px repeat, #1C1C1C;
    background-blend-mode: normal, screen, normal;
}

.todayHome .vector {
    width: 202px;
    height: 192px;
    top: 0;
    left: 0;

}

.todayHome .today_content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: auto;
}

.todayHome .today_content .title {
    color: var(--absolute-white, #FFF);
    font-family: Lexend;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 45px */
}

.todayHome .today_content .title span {
    color: var(--color-60, #CAFF33);
}

.todayHome .today_content .description {
    color: var(--color-70-2, #B3B3B3);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 24px */
}

.today_btn {
    display: flex;
    padding: 2px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 82px;
    background: var(--green-60, #CAFF33);
    text-wrap: nowrap;

}

.today_btn_frist {
    color: var(--grey-11, #1C1C1C);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
    border: none;
}

@media (max-width: 996px) {
    .todayHome {
        display: flex;
        width: 358px !important;
        padding: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .todayHome .today_content  {
        text-align: center;
    }
    .todayHome .today_content .title {
        text-align: center;
    }

    .todayHome .today_content .description {
        text-align: center;
    }
}