.valesCareers {
    display: flex;
    width: 1280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin-top: 100px;
    overflow: hidden;
}

.valesCareers .values_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

}

.valesCareers .values_content .title {
    color: var(--White, #FFF);
    font-family: Lexend;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 57px */
}

.values_content .title span {
    color: var(--color-60, #CAFF33);
}

.values_content .description {
    color: var(--color-70-2, #B3B3B3);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 24px */
}

.valesCareers .allBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

.valesCareers .allBox .boxs {
    display: flex;
    align-items: center;
    gap: 60px;
}

.valesCareers .boxs .box {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    border-left: 1px solid var(--green-60, #CAFF33);
}

.valesCareers .box .title {
    color: var(--grey-30, #4C4C4D);
    font-family: Lexend;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 60px */
}

.valesCareers .box .description {
    color: var(--grey-70, #B3B3B3);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 24px */
}

@media (max-width:996px) {
    .valesCareers .values_content {
        align-items: center;
    }

    .values_content .title {
        text-align: center;
    }

    .values_content .description {
        text-align: center;
    }

    .valesCareers .allBox .boxs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
    }

    .valesCareers .boxs .box {
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        align-self: stretch;
    }

}